body * {
    /* font-family: 'Kanit', sans-serif; */
    font-family: 'Prompt', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.imgur.com/Gh4LZnk.png");
    height: 100vh;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 60px;
}

.slideshow-element {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.ft-button {
    color: whitesmoke;
    transition: color 0.3s ease-in-out;
}

.ft-button :hover {
    color: grey;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-color: dimgray;
}